<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">InfluMedia</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/influencers">Influencers</a></li>
		</ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/register/influencer">Become Influencer</a></li>
            <li><a href="/login">Login</a></li>
           <li><a href="/"> <span class="glyphicon glyphicon-question-signar" aria-hidden="true"></span> Help&nbsp;</a></li>
           <li>&nbsp;&nbsp;&nbsp;</li>
          </ul>
	</nav>