<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">InfluMedia</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/influencer">Influencers</a></li>
		</ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (!req.user.influencer) { %>
            <li><a href="/register/influencer">Become Influencer</a></li>
            <% } %>
            <% if (req.user.id) { %>
            <li class="dropdown">
    	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img width="24" height="24"  src="<%= req.user.profile_picture %>" class="profile-image img-circle"> <%= req.user.username %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/account"><i class="fa fa-cog"></i> My Account</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-sign-out"></i> Logour</a></li>
                </ul>
            </li>
            <% } %>
           <li><a href="/help"> <span class="glyphicon glyphicon-question-signar" aria-hidden="true"></span> Help&nbsp;</a></li>
           <li>&nbsp;&nbsp;&nbsp;</li>
          </ul>
	</nav>
