<!DOCTYPE HTML>
<html>
<head>
<% include ./partials/head %>
<title>ERROR</title>
<link rel="stylesheet" href="css/404.css"> <!-- custom styles -->

</head>
<body>
<header>
        <% if (req.user) { %>
                <% include ./partials/header_logout %>
            <% } else { %>
                <% include ./partials/header %>
            <% } %>
    </header>
<div class="wrap">
    <div class="logo">
        <img src="/images/core/404.png" alt=""  />
        <%= error.stack %>
        <p><a href="/">Go back to Home</a></p>
    </div>
</div>
<div class="footer">
	Design by - <a href="http://w3layouts.com">W3Layouts</a>
</div>

</body>
</html>
