<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">

	<title>Influmedia</title>

	<!-- CSS -->
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css"> <!-- custom styles -->

	<!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular-route/angular-route.min.js"></script>

	<!-- ANGULAR CUSTOM -->
</head>
<body ng-app="influmediaApp" ng-controller="TodoController">
    <!-- HEADER -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">InfluMedia</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/nerds">Influencers</a></li>
		</ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Become Influencer</a></li>
            <li><a href="/">My Account</a></li>
            <li><a href="/">Max 123<span class="sr-only">(current)</span></a></li>
            
           <li><a href="/"> <span class="glyphicon glyphicon-question-signar" aria-hidden="true"></span> Help&nbsp;</a></li>
           <li>&nbsp;&nbsp;&nbsp;</li>
          </ul>
	</nav>
<div class="container">
	
	

	<!-- ANGULAR DYNAMIC CONTENT -->
	<div ng-view></div>
   

</div>
</body>
</html>
